<div>
  <nav class="octotree-sidebar">
    <div class="octotree-toggle">
      <i class="octotree-toggle-icon" role="button"></i> <span>Octotree</span>

      <div class="popup">
        <div class="arrow"></div>
        <div class="content">
          Hi there, this is Octotree. Move mouse over this button to display the code tree. You can also press the
          shortkey <kbd>cmd shift s</kbd> (or <kbd>ctrl shift s</kbd>).
        </div>
      </div>
    </div>
    
    <div class="octotree-main-icons">
      <a class="octotree-pin" data-store="PINNED" href="javascript:void(0)">
        <span class="tooltipped tooltipped-s" aria-label="Pin this sidebar"> <i class="octotree-icon-pin"></i> </span>
      </a>
      
      <a class="octotree-settings" href="javascript:void(0)">
        <span class="tooltipped tooltipped-s" aria-label="Settings"> <i class="octotree-icon-settings"></i> </span>
      </a>
    </div>

    <div class="octotree-views">
      <div class="octotree-view octotree-tree-view current">
        <div class="octotree-view-header"></div>
        <div class="octotree-view-body"></div>
        <a class="octotree-spin"> <span class="octotree-spin--loader"></span> </a>
      </div>

      <div class="octotree-view octotree-error-view">
        <div class="octotree-view-header octotree-header-text-top"></div>
        <form class="octotree-view-body"><div class="message"></div></form>
      </div>

      <div class="octotree-view octotree-settings-view">
        <div class="octotree-view-header octotree-header-text-top">Settings</div>
        <form class="octotree-view-body">
          <div>
            <label>GitHub access token</label>
            <div class="octotree-token-actions">
              <a class="octotree-create-token" target="_blank" tabindex="-1"
                ><!--
                --><span class="tooltipped tooltipped-n" aria-label="Generate new token"
                  ><i class="octotree-icon-key"></i></span
                ><!--
              --></a>
              <a
                class="octotree-help"
                href="https://github.com/ovity/octotree#access-token"
                target="_blank"
                tabindex="-1"
              >
                <span class="tooltipped tooltipped-n" aria-label="Learn more">
                  <i class="octotree-icon-help"></i>
                </span>
              </a>
            </div>
            <input type="text" class="form-control input-block" data-store="TOKEN" />
            <div class="octotree-disclaimer text-gray">Token is stored in local storage</div>
          </div>

          <div>
            <div>
              <label>Hotkeys</label>
              <div class="octotree-token-actions">
                <a class="octotree-help" href="https://github.com/ovity/octotree#hotkeys" target="_blank" tabindex="-1">
                  <span class="tooltipped tooltipped-n" aria-label="Learn more">
                    <i class="octotree-icon-help"></i>
                  </span>
                </a>
              </div>
            </div>
            <input
              type="text"
              autocomplete="off"
              spellcheck="false"
              autocapitalize="off"
              class="form-control"
              data-store="HOTKEYS"
            />
          </div>

          <div>
            <label><input type="checkbox" data-store="HOVEROPEN" /> <span>Show sidebar on hover</span></label>
          </div>
          <div>
            <label><input type="checkbox" data-store="LOADALL" /> <span>Load entire tree at once</span></label>
          </div>
          <div>
            <label><input type="checkbox" data-store="ICONS" /> <span>Show file-specific icons</span></label>
          </div>
          <div>
            <label>
              <input type="checkbox" data-store="PR" /> <span>Show pull request changes</span>
              <span class="octotree-disclaimer is-margin-left text-gray">Note: maximum of 300 files</span>
            </label>
          </div>
          <div><button class="btn btn-primary">Apply settings</button></div>
        </form>
      </div>
    </div>

    <div class="octotree-footer"></div>
  </nav>
</div>
